@charset "UTF-8";

body{
	/* Canyon Clay = rgb(206, 133, 121) */
	/* Old Rose = rgb(179, 123, 119) */
	/* Serenity = rgb(145, 167, 206) */
	/* Classic Blue = rgb(58, 84, 131) */
	background-color : rgb(58, 84, 131);
}

h1{	
	/* Arctic Ice = rgb(190, 198, 212) */
	/* Cloud Dancer = rgb(239, 238, 233) */
	/* Coconut Milk = rgb(239, 236, 229) */
	color: rgb(239, 236, 229);

}

.clicked {
	
	color: #00b894;
	
}